name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - .github/**
      - README.md
      - LICENSE
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency: CI-${{ github.ref }}

jobs:
  build-proton:
    uses: mornedhels/workflow-center-public/.github/workflows/docker-build.yml@main
    with:
      image-name: enshrouded-server
      image-tag: dev-proton
      dockerfile: dockerfiles/proton.Dockerfile
      scan-category: proton
    secrets:
      CONTAINER_REGISTRY_PASSWORD: ${{ secrets.DOCKER_TOKEN }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKER_TOKEN }}
  build-wine-stable:
    uses: mornedhels/workflow-center-public/.github/workflows/docker-build.yml@main
    with:
      image-name: enshrouded-server
      image-tag: dev-wine
      dockerfile: dockerfiles/Dockerfile
      scan-category: wine-stable
    secrets:
      CONTAINER_REGISTRY_PASSWORD: ${{ secrets.DOCKER_TOKEN }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKER_TOKEN }}
  build-wine-staging:
    uses: mornedhels/workflow-center-public/.github/workflows/docker-build.yml@main
    with:
      image-name: enshrouded-server
      image-tag: dev-wine-staging
      dockerfile: dockerfiles/Dockerfile
      scan-category: wine-staging
      build-args: |
        WINE_BRANCH=staging
    secrets:
      CONTAINER_REGISTRY_PASSWORD: ${{ secrets.DOCKER_TOKEN }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKER_TOKEN }}
  update-readme:
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    needs:
      - build-proton
      - build-wine-stable
      - build-wine-staging
    steps:
      - uses: actions/checkout@v5
      - name: Update Docker Hub Description
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ vars.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
          repository: ${{ vars.DOCKER_USER }}/enshrouded-server
