name: Release

on:
  release:
    types: [released]

concurrency: Release-${{ github.ref }}

jobs:
  docker-build-proton:
    uses: mornedhels/workflow-center-public/.github/workflows/docker-build.yml@main
    with:
      image-name: enshrouded-server
      dockerfile: dockerfiles/proton.Dockerfile
      scan-category: proton-latest
      image-tag: |
        latest
        stable-proton
        ${{ github.event.release.tag_name }}
        ${{ github.event.release.tag_name }}-proton
    secrets:
      CONTAINER_REGISTRY_PASSWORD: ${{ secrets.DOCKER_TOKEN }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKER_TOKEN }}
  docker-build-wine:
    uses: mornedhels/workflow-center-public/.github/workflows/docker-build.yml@main
    with:
      image-name: enshrouded-server
      dockerfile: dockerfiles/Dockerfile
      scan-category: wine-stable-latest
      image-tag: |
        stable-wine
        ${{ github.event.release.tag_name }}-wine
    secrets:
      CONTAINER_REGISTRY_PASSWORD: ${{ secrets.DOCKER_TOKEN }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKER_TOKEN }}
  update-readme:
    runs-on: ubuntu-latest
    needs: [docker-build-proton,docker-build-wine]
    steps:
      - uses: actions/checkout@v6
      - name: Update Docker Hub Description
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ vars.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
          repository: ${{ vars.DOCKER_USER }}/enshrouded-server
